/* CUSTOM STORY STYLE */
#content
  height 100%
  background #FF8A6E
  background #e66c4f
  .viz-wrapper
    display flex
    .viz
      margin-right 30px
      display flex
      background #f5967c
      width 300px
      justify-content center
      flex-wrap wrap
      .data-chooser
        width 100%
        padding-top 10px
        background #251A2E
        padding-bottom 20px
        .head
          font-size 16px
          font-weight 500
          color white
          width 250px
          margin 0 auto
          margin-bottom 10px
        .line
          height 1px
          width 250px
          margin 0 auto
          background white
          opacity .3
          margin-top 10px
          margin-bottom 10px
        .selector
          display flex
          justify-content flex-start
          width 250px
          margin 0 auto
          p
            font-size 14px
            font-weight 600
            color white
            line-height 1.4
          form
            color white
            font-family $atlas
            font-size 12px
            font-weight 400
            -webkit-font-smoothing auto
            input
              color white
              font-family $atlas
              font-size 14px
              font-weight 400
              -webkit-font-smoothing auto
              margin-right 5px
        .denominator
          display flex
          flex-wrap wrap
          width 250px
          margin 0 auto
          justify-content flex-start
          label
            display flex
            width 40%
            color white
            font-size 14px
            font-weight 400
            margin-bottom 5px
            -webkit-font-smoothing auto
            input
              margin-right 5px
      .line-chart-container, .scatter-plot
        form
          color black
          margin 0 auto
          font-family $atlas
          font-size 12px
          width 220px
          display flex
          justify-content center
          font-weight 500
          line-height 1.7
          margin-top 20px
          input
            color black
            font-family $atlas
            font-size 14px
            font-weight 400
            -webkit-font-smoothing auto
            margin-right 5px
        svg
          display block
          overflow visible
          .y
            text
              text-anchor end
              dominant-baseline central
              opacity .7
          .axis
            text
              font-size 11px
              font-weight 500
              fill black
              font-family $atlas
              opacity .7
            line
              stroke white
              shape-rendering crispEdges
              stroke-width 1px
              opacity .3
            .sub
              font-weight 400
              font-size 11px
          .circles
            fill rgba(255,255,255,.5)
            stroke white
            stroke-width 1px
          .lines
            pointer-events none
            path
              fill none
              stroke none
          .text-points-hover
            text-anchor middle
            font-family $atlas
            font-size 12px
            pointer-events none
            text
              pointer-events none
              dominant-baseline text-after-edge
              text-anchor middle
              display none
              font-weight 600
          .text-points-hover-bg
            fill #f3967c
            stroke #f3967c
            stroke-width 5px
          .text-points, .text-points-bg
            text-anchor middle
            font-family $atlas
            font-size 12px
            font-weight 600
            pointer-events none
            fill white
            dominant-baseline middle
          .text-points-bg
            fill #d06b50
            stroke #d06b50
            stroke-width 5px
            display none
          .voronoi
            opacity 0
            path
              fill black
              stroke black
              cursor pointer
      .scatter-plot
        width 100%
        background #d06b50
        svg
          display block
          margin 0 auto
          margin-top 40px
          .axis
            text
              opacity 1

          .circles
            circle
              fill #e6e6e6
              stroke #888
              stroke-width 1px
              display none
      p, label
        font-size 12px
        cursor pointer
        font-family $atlas
        margin 0
        margin-right 10px
    .song-container-wrapper
      flex-grow 1
      display flex
      flex-wrap wrap
      flex-direction row
      .top-row
        width 100%
      .song-container
        display flex
        flex-wrap wrap
        flex-direction column
        height 100vh
        flex-grow 1
        .song-row
          position relative
          cursor pointer
          .song-overlay
            position absolute
            font-size 12px
            font-family $atlas
            margin 0
            background #e8e8e8
            top 0px
            display none
            z-index 1000
            width 300px
          .song-text
            font-size 12px
            font-family $atlas
            margin 0
            font-weight 600
            position relative
            z-index 100
            color rgba(255,255,255,.6)
        .numerator
          .song-text
            color white
            font-size 18px
            font-weight 600
        .missing
          opacity .6
          display none
        .filtered
          display none
          .song-text
            font-size 10px
            text-decoration line-through
.year-selector
  position absolute
  right 0px
  top 0px
  background black
  width 90px
  z-index 10000
  height 80vh
  display flex
  flex-direction row
  flex-wrap wrap
  padding 10px
  justify-content space-between
  display none
  p, label
    font-size 12px
    line-height 1.5
    cursor pointer
    font-family $atlas
    margin 0
    color white
    position relative
    align-self space-between


.line-hover
  font-family $atlas
  font-size 12px
  display none
