/* CUSTOM STORY STYLE */
#content
  height 100%
  .viz-wrapper
    display flex
    .viz
      margin-right 30px
      display flex
      width 300px
      justify-content center
      flex-wrap wrap
      .data-chooser
        display flex
        label
          display flex
      .line-chart-container, .scatter-plot
        svg
          display block
          overflow visible
          .y
            text
              text-anchor end
          .axis
            text
              font-size 14px
              fill black
              font-family $atlas
            .sub
              font-weight 400
              font-size 11px
          .lines
            pointer-events none
            path
              fill none
              stroke black
          .text-points-hover
            text-anchor middle
            font-family $atlas
            font-size 12px
            pointer-events none
            text
              pointer-events none
              dominant-baseline text-after-edge
              text-anchor middle
              display none
              font-weight 600
          .text-points-hover-bg
            fill white
            stroke white
            stroke-width 5px

          .text-points, .text-points-bg
            text-anchor middle
            font-family $atlas
            font-size 10px
            pointer-events none
            dominant-baseline middle
          .text-points-bg
            fill white
            stroke white
            stroke-width 5px
            display none
          .voronoi
            opacity 0
            path
              fill black
              stroke black
              cursor pointer
      .scatter-plot
        svg
          .circles
            circle
              fill #e6e6e6
              stroke #888
              stroke-width 1px
              display none
      p, label
        font-size 12px
        cursor pointer
        font-family $atlas
        margin 0
        margin-right 10px
    .song-container
      display flex
      flex-wrap wrap
      flex-direction column
      height 100vh
      flex-grow 1
      .song-row
        position relative
        cursor pointer
        .song-overlay
          position absolute
          font-size 12px
          font-family $atlas
          margin 0
          background #e8e8e8
          top 0px
          display none
          z-index 1000
          width 300px
        .song-text
          font-size 14px
          font-family $atlas
          margin 0
          position relative
          z-index 100
      .numerator
        color red
      .missing
        opacity .6
        display none
      .filtered
        display none
        .song-text
          font-size 10px
          text-decoration line-through
.year-selector
  position absolute
  right 0px
  top 0px
  background black
  width 90px
  z-index 10000
  height 80vh
  display flex
  flex-direction row
  flex-wrap wrap
  padding 10px
  justify-content space-between
  display none
  p, label
    font-size 12px
    line-height 1.5
    cursor pointer
    font-family $atlas
    margin 0
    color white
    position relative
    align-self space-between


.line-hover
  font-family $atlas
  font-size 12px
