
<div class="viz-wrapper">
	<div class="viz">
		<div class="data-chooser">
			<div class="numerator">
				<p value="falsetto_percent">Falsetto</p>
				<p value="register_percent">Register</p>
				<p value="either_percent">Both</p>
			</div>
			<div class="denominator">
				<label class="genre">
					<input type="checkbox" id="no-hip-hop" disabled>no hip hop
				</label>
				<label class="singing">
					<input type="checkbox" id="only-singing" disabled>only singing
				</label>
				<label class="male">
					<input type="checkbox" id="male-present" disabled>male voice
				</label>
				<label class="top-10">
					<input type="checkbox" id="top-10" disabled>only top 10
				</label>
			</div>
		</div>
		<div class="line-chart-container">
			<div class="line-hover">

			</div>
		</div>
	</div>
	<div class='song-container'>
	</div>
</div>
