
<div class="viz-wrapper">
	<div class="viz">
		<div class="data-chooser">
			<div class="numerator">
				<!-- <p value="falsetto_percent">Falsetto</p>
				<p value="register_percent">Register</p>
				<p value="falsetto_avg">Falsetto Avg</p> -->
			</div>
			<p class="head">Filters</p>
			<div class="denominator">
				<label class="genre">
					<input type="checkbox" id="no-hip-hop" disabled>No Hip Hop
				</label>
				<label class="singing">
					<input type="checkbox" id="only-singing" disabled>Singing
				</label>
				<label class="male">
					<input type="checkbox" id="male-present" disabled>Male
				</label>
				<label class="top-10">
					<input type="checkbox" id="top-10" disabled>Top 10
				</label>
				<label class="top-10">
					<input type="checkbox" id="weighted" disabled>Weighted
				</label>
			</div>
			<div class="line">
			</div>
			<div class="selector">
				<p>Falsetto</p>
				<form id="falsetto-options">
  				<input  type='radio' class="avg" name="mode" checked>Avg</input>
  				<input type='radio' class="threshold" name="mode">% over threshold</input>
				</form>
			</div>
			<div class="line">
			</div>
			<div class="selector">
				<p>Register</p>
				<form id="register-options">
					<input  type='radio' class="avg" name="mode" checked>Avg</input>
					<input type='radio' class="threshold" name="mode">% over threshold</input>
				</form>
			</div>
		</div>
		<div class="line-chart-container">
			<form id="line-chart-options">
				<input  type='radio' class="falsetto" name="mode" checked>Falsetto</input>
				<input type='radio' class="register" name="mode">Register</input>
			</form>
			<div class="line-hover">
			</div>
		</div>
		<div class="scatter-plot">

		</div>
	</div>
	<div class="song-container-wrapper">
		<div class="top-row">
			<p class="year-selected">1997</p>
			<div class="slider-wrapper">
				<p>Falsetto</p>
				<div id="slider-falsetto">

				</div>
			</div>
			<div class="slider-wrapper">
				<p>Register</p>
				<div id="slider-register">

				</div>

			</div>

			<label class="show-hidden-label">
				<input type="checkbox" id="show-hidden" disabled>Show Hidden
			</label>

		</div>
		<div class='song-container'>
		</div>
	</div>

</div>

<div class="year-selector">

</div>
