
<div class="viz-wrapper">
	<div class="viz">
		<div class="data-chooser">
			<div class="numerator">
				<p value="falsetto_percent">Falsetto</p>
				<p value="register_percent">Register</p>
				<p value="either_percent">Both</p>
			</div>
			<div class="denominator">
				<div class="genre">
					<p value="">all</p>
					<p value="">no hip hop</p>
				</div>
				<div class="singing">
					<p value="">all</p>
					<p value="">only singing</p>
				</div>
				<div class="gender">
					<p value="">all</p>
					<p value="">male only</p>
				</div>
				<div class="peak rank">
					<p value="">all</p>
					<p value="">top 10</p>
				</div>

			</div>
		</div>
		<div class="line-chart-container">

		</div>
	</div>
	<div class='song-container'>
	</div>
</div>
